@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600&family=Josefin+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600&family=Mulish:ital,wght@0,200;0,400;1,200;1,300;1,400&display=swap');

@import url('https://kit.fontawesome.com/e0a66df175.js');

*{
    margin:0;
    padding:0;
    list-style: none;
    text-decoration:none;
    font-size:16px;
}
:root{
    --font-primary:"Baloo Da 2", serif;
    --font-segundary: "Josefin Slab", serif;
    --font-action: "Mulish", serif;
}
main{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100vh;
}
.img-wrapper{
    width:100%;
    height:100%;
    overflow:hidden;
    background:rgba(0,0,0,0.9);
}
.img-wrapper img{
    width:100%;
    height:100%;
    opacity:0.4;
    animation: zoom 10s;
}
@keyframes zoom{
    0%{
        transform:scale(1.5)
    }
    100%{
        transform:scale(1)
    }
}
main .text{
    position: absolute;
    color:#fff;
    text-align: center;
    font-family:var(--font-primary);
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top:35%;
    text-align: center;
}
main .text h1{
    font-size:3em;
}
main .text h3{
    font-size:2em;
}
main .text p{
    font-size:1em;
}
main .find-dev{
    background:#E5205A;
    color:#fff;
    border:none;
    border-radius:0.25em;
    padding:0.8em;
    transition:0.3s;
    cursor:pointer;
    font-family:var(--font-action);
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top:65%;
    text-align: center;
    box-shadow:0 4px 4px 0 rgba(0,0,0,0.3); 
    margin-top:2em;
}
main .find-dev:hover{
    background:#880a30;
    transform:translateY(10%);
}
.pop-up-container{
    color:rgb(0, 0, 0);
    width:100%;
    height:100vh;
    position: fixed;
    top:0;
    left:0;
    display:none;
    justify-content: center;
    align-items: center;
    background:rgba(0,0,0,0.5);
    z-index:2000;
}
.pop-up{
    background:rgb(212, 212, 212);
    width:45%;
    min-width:350px;
    padding:1em;
    position:relative;
    animation: pop-up 0.5s;
    text-align: center;
    align-items: center;
    border-radius:0.25em;
}
.pop-up .button{
    font-size:2em;
    width:30%;
    background:rgb(8, 8, 8);
    color:#fff;
    border:none;
    border-radius:0.25em;
    cursor:pointer;
    box-shadow:0 4px 4px 0 rgba(0,0,0,0.3); 
    margin-bottom:0.5em;
    transition:0.3s;
}
.pop-up .button:hover{
    background:rgb(8, 8, 8,0.8);
    transform:translateY(10%);
}
.stop-popup{
    cursor:pointer;
    transition:0.3s;
}
.stop-popup:hover{
    color:#E5205A;
}
.suport-text{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top:-10%;
    text-align: center;
    background:#E5205A;
    width:50%;
    height:2em;
    box-shadow:0 4px 4px 0 rgba(0,0,0,0.3); 
}
.suport-text p{
    font-size: 1.5em;
    color:#fff;
}
@keyframes pop-up{
    from{
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
    to{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
.close{
    position: absolute;
    top:-5%;
    right:-2%;
    border-radius:50%;
    cursor:pointer;
    width:2em;
    height:2em;
    box-shadow:0 4px 4px 0 rgba(0,0,0,0.3); 
    border:none;
    transition:0.3s;
}
.close:hover{
    background:rgb(211, 211, 211);
}
.show{
    display:flex;
}
.name-email{
    display:flex;
    justify-content:space-evenly;
    font-family:var(--font-action);
    outline:none;
    margin-bottom:1em;
}
input{
    background:transparent;
    border:none;
    border-bottom: 1px dashed #636363;
    width:16em;
}

@media(max-width:900px){
    main .text{
        top:5%;
    }

    .name-email{
        display:block;
    }
}